@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

::placeholder {
    text-align: center;
    opacity: 1;
    font-family: 'Roboto';
    font-size: 15pt;
    color: #527C8C;
}
.button{
    text-align: center;
}

body{
    background: linear-gradient(to top, #F2F2F2, #B2CED9);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*Заголовок*/
#banner{
    margin-bottom:30px;
    font-size:25pt;
    color: #527C8C;
    font-family: 'Montserrat';
    margin-left: 70px;
}

#input{
    width:100%;
    padding:12px;
    margin:10px 0;
    background:#B2CED9;
    border-radius:15px;
    border: 2px #527C8C solid;
    color:#FFFFFF;
    font-size:15pt;
    font-family:'Roboto';
    text-align: center;
}
#info{
    font-family: 'Roboto';
    font-size: 15pt;
    font-weight: bold;
    color: #527C8C;
}
#sub{
    height: 55px;
    width: 350px;
    background-color: #527C8C;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-size: 20pt;
    font-weight: 600;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 15px;
    border: 3px solid #527C8C;
    transition: all 0.3s ease-in-out;
}

#sub:hover{
    background-color: #F2F2F2;
    color: #527C8C;
}
