@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background: linear-gradient(to top, #F2F2F2, #B2CED9);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
}

#banner{
    text-align: center;
    font-family: 'Montserrat';
    color: #527C8C;
    font-size: 50pt;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
}

#viewer-btn{
    position:absolute;
    top:20px;
    left:20px;
    width: auto;
    padding:12px 20px;
    background:#527C8C;
    color:#FFFFFF;
    font-family:'Roboto';
    font-weight:bold;
    border:none;
    border-radius:15px;
    cursor:pointer;
    transition:0.6s;
    text-decoration: none;
    border: 2px #527C8C solid;
}

#viewer-btn:hover{
    color: #527C8C;
    background-color: #FFFFFF;
}

/* Таблица */
table {
    justify-content: center;
    border-collapse:collapse;
    width:70%;
    max-width:900px;
    text-align:center;
    background:#B2CED9;
    border-radius:15px;
    overflow:hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fadeIn {
    0% {opacity:0; transform: translateY(-50px);}
    100% {opacity:1; transform: translateY(0);}
}

th, td {
    padding:20px;
    border-bottom:2px solid #527C8C;
    transition: all 0.3s ease;
    font-family: 'Roboto';
    color: #FFFFFF;
}

th {
    background:#527C8C;
    font-size:1.3em;
    color:#FFFFFF;
}

td {
    font-size:15pt;
    color: #527C8C;
}

tr {
    height: 90px;
}

/* Медали */
.medal {
    font-size:2em;
    animation: medalBounce 0.6s ease;
}

@keyframes medalBounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

/* Подсветка обновлений */
.highlight {
    animation: highlight 0.7s ease;
}

@keyframes highlight {
    0% { background:#8FBCD9; color:#FFFFFF; }
    100% { background:#B2CED9; color:#FFFFFF; }
}

/* Hover на строки */
tr:hover {
    background:rgba(0,255,255,0.1);
    transform:scale(1.02);
    transition:0.3s;
}