@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background: linear-gradient(to top, #F2F2F2, #B2CED9);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
}
#banner{
    text-align: center;
    font-family: 'Montserrat';
    color: #527C8C;
    font-size: 50pt;
}
/* Кнопка на главную */
#home-btn {
    position:absolute;
    top:20px;
    right:20px;
    padding:12px 20px;
    background:#527C8C;
    color:#FFFFFF;
    font-family:'Roboto';
    font-weight:bold;
    border:none;
    border-radius:15px;
    cursor:pointer;
    transition:0.6s;
    text-decoration: none;
    border: 2px #527C8C solid;
}
#home-btn:hover {
    background:#FFFFFF;
    color: #527C8C;
}

/* Кнопка перейти к лидерборду */
#leaderboard-btn {
    position:absolute;
    top:20px;
    left:20px;
    padding:12px 20px;
    background:#527C8C;
    color:#FFFFFF;
    font-family:'Roboto';
    font-weight:bold;
    border:none;
    border-radius:15px;
    cursor:pointer;
    transition:0.6s;
    text-decoration: none;
    border: 2px #527C8C solid;
}
#leaderboard-btn:hover {
    background:#FFFFFF;
    color: #527C8C;
}

/* Заголовок */
@keyframes glow {
    0% { text-shadow:0 0 5px #527C8C; }
    100% { text-shadow:0 0 20px #527C8C,0 0 40px #527C8C,0 0 60px #527C8C; }
}

/* Таблица */
table {
    border-collapse:collapse;
    width:85%;
    max-width:1200px;
    text-align:center;
    background:#B2CED9;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:50px;
    font-family: 'Roboto';
    color: #527C8C;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fadeIn {
    0% {opacity:0; transform: translateY(-50px);}
    100% {opacity:1; transform: translateY(0);}
}

th, td {
    padding:15px;
    border-bottom:1px solid #527C8C;
    transition: all 0.3s ease;
    font-family: 'Roboto';
}

th {
    background:#527C8C;
    font-size:20pt;
    color:#FFFFFF;
}

td {
    font-size:1.1em;
    position:relative;
}

/* Подсветка обновлений */
.highlight {
    animation: pulse 0.7s ease;
}

@keyframes pulse {
    0% { transform:scale(1); box-shadow:0 0 5px #527C8C; }
    50% { transform:scale(1.2); box-shadow:0 0 20px #527C8C; }
    100% { transform:scale(1); box-shadow:0 0 5px #527C8C; }
}

