<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<title>RKSIBET</title>
</head>
<body>
<h1 id="banner">Добро пожаловать в RKSIBET!</h1>
<h3 id="sembanner">Выберите свою роль</h3>
<div class="buttons">
<a href="{{ url_for('jury_login') }}" id="juri_ch">
    <div id="juri_ch_btn">
        <h3>Жюри</h3>
    </div>
    <div id="juri_btn_txt">
        <h4 style="margin-top: 45px; max-width: 300px; margin-left: 25px;">
        Профессиональная оценка педагогического мастерства.<br>
        Войдите в  для определения лучших педагогов.<br>
            &nbsp;&nbsp;-Система балльного оценивания<br>
            &nbsp;&nbsp;-Рейтингование участников в реальном времени
        </h4>
    </div>
</a>
<a href="{{ url_for('viewer') }}" id="viewer_ch">
    <div id="viewer_ch_btn">
        <h3>Зритель</h3>
    </div>
    <div id="viewer_btn_txt">
        <h4 style="margin-top: 45px; max-width: 300px; margin-left: 25px;">
            Следите за ходом конкурса в реальном времени!<br>
            &nbsp;&nbsp;-Текущий рейтинг участников
        </h4>
    </div>
</a>
</div>
</body>
</html>
