<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>RKSIBET — Вход Жюри</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/juri_login.css') }}">
</head>
<body>
<div class="container">
  <h1 id="banner">Жюри-Панель</h1>
  
  {% if error %}
  <div class="error-banner">{{ error }}</div>
  {% endif %}
  
  <form method="post">
    <input type="text" name="login" placeholder="Логин" required id="login">
    <input type="password" name="password" placeholder="Пароль" required id="pass">
    <button type="submit" id="sub">Войти</button>
  </form>
</div>
</body>
</html>