<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>RKSIBET — Новый профиль</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/juri_name.css') }}">
</head>
<body>
<div class="container">
  <h1 id="banner">Введите имя профиля</h1>
  <form method="post">
    <input type="text" name="name" placeholder="Например: Жюри1, Эксперт, Модератор" required id="input">
    <button type="submit" id="sub">Создать профиль</button>
  </form>
  <div class="info" id="info">Вам будет присвоен уникальный код (например: A1B2)</div>
  {% if error %}
  <div class="error">{{ error }}</div>
  {% endif %}
</div>
</body>
</html>