<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>RKSIBET — Имя Жюри</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/juri_name.css') }}">
</head>
<body>
<div class="container">
<h1 id="banner">Введите ваше имя</h1>
<form method="post">
  <input type="text" name="name" placeholder="Ваше имя" required id="input">
  <button type="submit" id="sub">Продолжить</button>
</form>
{% if error %}
<div class="error">{{ error }}</div>
{% endif %}
</div>
</body>
</html>
